<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>后台管理</title>

    <link rel="stylesheet" type="text/css" href="./assets/js/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/js/plugins/igrow/qaq/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/admin.css">

    <script type="text/javascript" src="./assets/js/libs/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="./assets/js/libs/seajs/2.0.0/sea.js"></script>
    <script type="text/javascript" src="./assets/js/public/utils.js"></script>
    <script type="text/javascript" src="./assets/js/config/igrow.js"></script>
    <script type="text/javascript" src="./assets/js/libs/angularjs/1.2.14/angular.min.js"></script>
    <script type="text/javascript" src="./assets/js/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 
    <script type="text/javascript" src="./assets/js/plugins/igrow/qaq/qaq.js"></script>

    <script type="text/javascript" src="./assets/js/libs/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" src="./assets/js/libs/ueditor/1.4.3/ueditor.all.min.js"></script>
    <script type="text/javascript" src="./assets/js/libs/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
</head>
<body class="admin-wrapper style-custom-1" ng-controller="adminController">
    <div class="header" id="header">
        <a href="javascript:void(0);" class="logo">MyAdmin</a>
        <span class="info">后台管理</span>
        <div class="user-wrapper">
            <span class="user-avatar">

            </span>
            <span class="user-name">欢迎您,{{user.name}}</span>
            <a href="javascript:void(0)" class="user-logout-link" title="退出">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </div>
    <div class="admin-container clearfix" id="container">
        <div class="sidebar">
            <ul class="sidebar-ul">
                <li>
                    <a href="#/dashboard" class="sidebar-link" ng-click="reload($event)">
                        <span class="sidebar-icon fa fa-dashboard"></span>
                        <span class="sidebar-txt">首页</span>
                    </a>
                    <i class="sidebar-nav-borderright"></i>
                </li>
                <li class="">
                    <a href="#/article_type" class="sidebar-link " ng-click="reload($event)">
                        <span class="sidebar-icon fa fa-list"></span>
                        <span class="sidebar-txt">文章类别</span>
                    </a>
                    <i class="sidebar-nav-borderright"></i>
                </li>
                <li class="">
                    <a href="#/article" class="sidebar-link " ng-click="reload($event)">
                        <span class="sidebar-icon fa fa-edit"></span>
                        <span class="sidebar-txt">文章</span>
                    </a>
                    <i class="sidebar-nav-borderright"></i>
                </li>
                <li class="">
                    <a href="#/user" class="sidebar-link " ng-click="reload($event)">
                        <span class="sidebar-icon fa fa-users"></span>
                        <span class="sidebar-txt">管理员</span>
                    </a>
                    <i class="sidebar-nav-borderright"></i>
                </li>
                <li class="">
                    <a href="#/set" class="sidebar-link " ng-click="reload($event)">
                        <span class="sidebar-icon fa fa-cogs"></span>
                        <span class="sidebar-txt">设置</span>
                    </a>
                    <i class="sidebar-nav-borderright"></i>
                </li>
                
            </ul>
            
        </div>
        <div class="content">
            <div class="content-view" ng-view id="">
                
                
                

                <br><br><br><br><br><br><br><br><br><br><br><br>ssasasa
                <br><br><br><br><br><br><br><br><br><br><br><br>ssasasa
                <br><br><br><br><br><br><br><br><br><br><br><br>end<br>
                <h1>2</h1>

            </div>
                

        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            seajs.use(['adminApp'],function(app){
                angular.bootstrap(document, [app.name]);
            });
        });
            
    </script>
</body>
</html>